@model TeduShop.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="login">
    <div class="wrap">
        <div class="col_1_of_login span_1_of_login">
            <h4 class="title">Đăng nhập tài khoản</h4>
            <h5 class="sub_title">Đăng ký tài khoản mới</h5>
            <p>Nếu bạn chưa có tài khoản hãy đăng ký tài khoản bằng cách bấm vào link dưới đây để đăng ký tài khoản mới</p>
            <div class="button1">
                <a href="/dang-ky.html">Đăng ký thành viên</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col_1_of_login span_1_of_login">
            <div class="login-title">
                <h4 class="title">Đăng nhập tài khoản</h4>
                <div class="comments-area">
                    @using (Html.BeginForm("Login", "Acount", new { returnUrl = @ViewBag.returnUrl }, FormMethod.Post))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "error" })
                        <p>
                            <label>Tài khoản:</label>
                            <span>*</span>
                            @Html.TextBoxFor(model => model.UserName)
                            @Html.ValidationMessageFor(model => model.UserName)
                        </p>
                        <p>
                            <label>Mật khẩu</label>
                            <span>*</span>
                            @Html.PasswordFor(model => model.PassWord)
                            @Html.ValidationMessageFor(model => model.PassWord)
                        </p>
                        <p>
                            @Html.CheckBoxFor(model => model.RemembereMe) Nhớ mật khẩu
                        </p>
                        <p id="login-form-remember">
                            <label><a href="#">Forget Your Password ? </a></label>
                        </p>
                        <p>
                            <input type="submit" value="Login">
                        </p>
                    }
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

