@model TeduShop.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="register_account">
    <div class="wrap">
        <h4 class="title">Create an Account</h4>
        @using (Html.BeginForm("Register", "Acount", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true,"", new { @class="error"})
            if(ViewData["successMgs"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <strong>Chúc mừng bạn </strong> đã đăng ký thành công !<br />
                    Vui lòng click <a href="/dang-nhap.html">vào đây</a> để đăng nhập
                </div>
            }
            <div class="col_1_of_2 span_1_of_2">
                <div>@Html.TextBoxFor(model => model.FullName, new { placeholder ="Họ tên"})
                @Html.ValidationMessageFor(model => model.FullName)
                </div>
                <div>@Html.TextBoxFor(model => model.Email, new { placeholder ="Email" })
                @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Address, new { placeholder = "Địa chỉ" })                    
                </div>                
            </div>
            <div class="col_1_of_2 span_1_of_2">
                <div>
                    @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Số điện thoại" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
                <div>@Html.TextBoxFor(model => model.UserName, new { placeholder ="Tên đăng nhập"})</div>
                <div>@Html.PasswordFor(model => model.PassWord , new { placeholder ="Mật khẩu"})</div>
            <button class="grey">Submit</button>
            </div>
            <div class="clear"></div>
        }
    </div>
</div>

