@model TeduShop.Web.Infrastructure.Core.PaginationSet<TeduShop.Web.Models.ProductViewModel>

@{
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section header{
    <link href="~/Assets/client/css/form.css" rel="stylesheet" type="text/css" media="all" />
}
<div class="login">
    <div class="wrap">
        <div class="rsidebar span_1_of_left">
            <section class="sky-form">
                <h4>Occasion</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Athletic (20)</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Athletic Shoes (48)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Casual (45)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Casual (45)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other (1)</label>
                    </div>
                </div>
                <h4>Category</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Flats (70)</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Athletic Shoes (48)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Athletic Shoes (48)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Heels (38)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other (1)</label>
                    </div>
                </div>
                <h4>Styles</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Athletic (20)</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Ballerina (5)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Pumps (7)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>High Tops (2)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other (1)</label>
                    </div>
                </div>
            </section>
            <section class="sky-form">
                <h4>Brand</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Adidas by Stella McCartney</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Asics</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Bloch</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Bloch Kids</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Capezio</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Capezio Kids</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Nike</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Zumba</label>
                    </div>
                </div>
            </section>
            <section class="sky-form">
                <h4>Heel Height</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Flat (20)</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Under 1in(5)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>1in - 1 3/4 in(5)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>2in - 2 3/4 in(3)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>3in - 3 3/4 in(2)</label>
                    </div>
                </div>
            </section>
            <section class="sky-form">
                <h4>Price</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>$50.00 and Under (30)</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$100.00 and Under (30)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$200.00 and Under (30)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$300.00 and Under (30)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$400.00 and Under (30)</label>
                    </div>
                </div>
            </section>
            <section class="sky-form">
                <h4>Colors</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Red</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Green</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Black</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Yellow</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Orange</label>
                    </div>
                </div>
            </section>
        </div>
        <div class="cont span_2_of_3">
            <div class="mens-toolbar">
                <div class="sort">
                    <div class="sort-by">
                        <label>Sort By</label>
                        <select>
                            <option value="">
                                Popularity
                            </option>
                            <option value="">
                                Price : High to Low
                            </option>
                            <option value="">
                                Price : Low to High
                            </option>
                        </select>
                        <a href=""><img src="images/arrow2.gif" alt="" class="v-middle"></a>
                    </div>
                </div>
                <div class="pager">

                    @if (Model.TotalPages > 1)
                    {
                        // Create numeric links
                        var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                        var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                        <ul class="dc_pagination dc_paginationA dc_paginationA06">
                            @if (Model.Page > 1)
                            {
                                <li>
                                    <a href="?page=1" aria-label="First">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="?page=@(Model.Page - 1)" aria-label="Previous">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                            }

                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                            {
                                if (Model.Page == i)
                                {
                                    <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="?page=@i" title="Trang @i">@i</a></li>
                                }
                            }
                            @if (Model.Page < Model.TotalPages)
                            {
                                <li>
                                    <a href="?page=@(Model.Page + 1)" aria-label="Next">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="?page=@Model.TotalPages" aria-label="Last">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="box1">
                @if (Model.Count > 0)
                {
                    foreach (var item in Model.Items)
                    {
                        <div class="col_1_of_single1 span_1_of_single1">
                            <a href="/@(item.Alias).p-@(item.ID).html">
                                <div class="view1 view-fifth1">
                                    <div class="top_box">
                                        <h3 class="m_1">@item.Name</h3>
                                        <p class="m_2">@item.Description</p>
                                        <div class="grid_img">
                                            <div class="css3"><img src="@item.Image" alt="@item.Name" /></div>
                                            <div class="mask1">
                                                <div class="info">Chi tiết</div>
                                            </div>
                                        </div>
                                        @if (item.PromotionPrice.HasValue)
                                        {
                                            <div class="price">@item.PromotionPrice.Value.ToString("N0")</div>
                                        }
                                        <div class="price_old">@item.Price.ToString("N0")</div>
                                    </div>
                                </div>
                                <span class="rating1">
                                    <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                    <label for="rating-input-1-5" class="rating-star1"></label>
                                    <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                    <label for="rating-input-1-4" class="rating-star1"></label>
                                    <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                    <label for="rating-input-1-3" class="rating-star1"></label>
                                    <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                    <label for="rating-input-1-2" class="rating-star"></label>
                                    <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                    <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                    (45)
                                </span>
                                <ul class="list2">
                                    <li>
                                        <img src="images/plus.png" alt="" />
                                        <ul class="icon1 sub-icon1 profile_img">
                                            <li>
                                                <a class="active-icon c1" href="#">Mua hàng</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="clear"></div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="text-center">Không có bản ghi nào tìm thấy</div>
                }

                <div class="clear"></div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
</div>
