@model IEnumerable<TeduShop.Web.Models.ProductCategoryViewModel>
<div class="header-bottom">
    <div class="wrap">
        <!-- start header menu -->
        <ul class="megamenu skyblue">
            <li><a class="color1" href="/">Trang chủ</a></li>
            @{int i = 2;
                foreach (var item in Model.Where(x => x.ParentID == null))
                {
                    var childCategory = Model.Where(x => x.ParentID == item.ID);
                    if (childCategory.Count() > 0)
                    {
                        <li><a class="color@(i)" href="@(item.Alias).html">@item.Name</a>
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                @foreach (var chiditem in childCategory)
                                                {
                                                 <li><a href="@(chiditem.Alias).html">@chiditem.Name</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li><a class="color@(i)" href="@(item.Alias).html">@item.Name</a></li>
                    }
                    i = i + 1;
                }
            }


            </ul>
            <div class="clear"></div>
            </div>
            </div>
